.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.quotes-image {
  height: 500px;
  background-image: url("../../assets/1_mDBh9YwZqb1b_yS7fHjKnw.png");
  background-position: 20% 50%;
}

#btn-sign {
  background-color: #8656cd;
  width: 100%;
  font-size: 20px;
  padding: 20px;
  color: rgb(251, 246, 252);
  text-decoration: none;
  border-radius: 6px;
}

#btn-sign:hover {
  transform: scale(1.1);
}

.features {
  padding: 10px 5px;
}

.quotes {
  box-shadow: 3px 0px 1px black;
  padding: 10px;
}

.card {
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 3px 3px rgb(80, 79, 79);
}
