#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
  padding: 10px 0;
  color: black;
  font-size: 30px;
  /* background-color: #1cc29f; */
}
#loginsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 35px;
  padding-right: 30px;
}

#loginsignup a {
  margin-right: 10px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 5px;
}

#btn-login {
  background-color: rgb(248, 250, 252);
  color: #1cc29f;
  text-decoration: none;
}

#btn-logout {
  background-color: white;
  color: #1cc29f;
  text-decoration: none;
  cursor: pointer;
}

#btn-sign {
  background-color: #1cc29f;
  color: white;
  text-decoration: none;
}
#btn-sign:hover {
  transform: scale(1.05);
}

#title {
  font-size: 30px;
  font-weight: bold;
  color: rgb(19, 18, 18);
  padding-left: 50px;
}
#title img {
  margin-right: 10px;
}
