<br />
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 row footer-links">
        <div class="col-md-4">
          <a href="#" class="main-brand"><p>Splitwise</p></a>
          <a href="#"><p>About</p></a>
          <a href="#"><p>Press</p></a>
          <a href="#"><p>Blog</p></a>
          <a href="#"><p>Jobs</p></a>
          <a href="#"><p>Calculators</p></a>
          <a href="#"><p>API</p></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="main-brand"><p>Account</p></a>
          <a href="login"><p>Log in</p></a>
          <a href="signup"><p>Sign up</p></a>
          <a href="#"><p>Reset Password</p></a>
          <a href="#"><p>Settings</p></a>
          <a href="#"><p>Splitwise Pro</p></a>
        </div>
        <div class="col-md-4">
          <a href="#" class="main-brand"><p>More</p></a>
          <a href="#"><p>Contact Us</p></a>
          <a href="#"><p>FAQ</p></a>
          <a href="#"><p>Terms of Service</p></a>
          <a href="#"><p>Privacy Policy</p></a>
          <div class="row">
            <div class="col-md-4 social">
              <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="col-md-4 social">
              <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="col-md-4 social">
              <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 footer-images">
        <div class="col-md-6">
          <img
            src="../../../assets/en_badge_web_generic.png"
            width="300"
            height="130"
          />
        </div>
        <div class="col-md-6">
          <img
            src="../../../assets/5a902db97f96951c82922874.png"
            width="272"
            height="100"
          />
        </div>
      </div>
    </div>
  </div>
</footer>
