<div id="container">
  <div id="form-container">
    <h4>SignUp</h4>
    <div
      class="alert alert-warning alert-dismissible fade show"
      id="login-alert"
      role="alert"
      *ngIf="alertShow"
    >
      <strong>Something Wrong !</strong> {{ alertMsg }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    <div id="form">
      <label>Username</label>
      <input #username type="email" placeholder="Username" required />
      <label>Email address</label>
      <input #email type="email" placeholder="email" required />
      <label>Password</label>
      <input #password type="password" placeholder="password" required />

      <button (click)="SignUp(username.value, email.value, password.value)">
        SignUp
      </button>
    </div>
  </div>
</div>
