* {
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgb(255, 255, 255);
  border: 2px solid lightgray;
  height: 600px;
  box-shadow: 2px 2px 2px 2px lightgray;
}

.header {
  background-color: #eee;
  height: 60px;
}

.expense {
  margin-top: 10px;
  border-bottom: 1px solid lightgray;
}
