<div class="container row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div (click)="getDashboardData()" id="dashboard-btn">DashBoard</div>
    <div (click)="getAllExpenses()" id="all-expense-btn">All Expenses</div>
    <br />
    <div>
      <div class="group-add">
        Groups
        <span class="add-btn" style="font-size: 20px" onclick="addGroupModal()">
          +</span
        >
      </div>
      <li
        *ngFor="let group of user.groups"
        class="items"
        (click)="getGroup(group[0])"
      >
        <img src="../../assets/group.png" height="30" width="30" />
        {{ group[1] }}
      </li>
      <br />
      <div class="friend-add">
        Friends
        <span class="add-btn" style="font-size: 20px" onclick="addFriend()">
          +</span
        >
      </div>
      <li
        *ngFor="let friend of user.friends"
        class="items"
        (click)="getFriend(friend)"
      >
        <img src="../../assets/user.png" height="20" width="20" />
        {{ friend[1] }}
      </li>
    </div>
  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-2">
    <div
      class="alert alert-warning alert-dismissible fade show"
      id="login-alert"
      role="alert"
      *ngIf="alertShow"
    >
      <strong>{{ alertMsg }}</strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>

<!----Add Expense Modal-->
<div
  class="modal fade"
  id="addExpenseModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #5bc5a7">
        <h5 style="color: white" class="modal-title" id="exampleModalLabel">
          Add Expense
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="deleteForm">
        <div class="modal-body">
          with you and
          <select id="friend" #friend style="width: 30%">
            <option *ngFor="let friend of user.friends" value="{{ friend[0] }}">
              {{ friend[1] }}
            </option>
          </select>
          <br />
          <br />
          <label>Description:</label>
          <br />
          <input
            #desc
            id="desc"
            type="text"
            placeholder="description"
            style="width: 100%"
            required
          />
          <br />
          <label>Amount: </label><br />
          <input
            #amount
            id="amount"
            type="number"
            placeholder="Amount"
            style="width: 100%"
            required
          />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success"
            data-bs-dismiss="modal"
            (click)="addExpenseData(amount.value, desc.value, friend.value)"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!----Add Friends Model-->
<div
  class="modal fade"
  id="addFriendModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #5bc5a7">
        <h5 style="color: white" class="modal-title" id="exampleModalLabel">
          Add Expense
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="deleteForm">
        <div class="modal-body">
          <label>Enter Email of your friend: </label><br />
          <input
            #email
            id="email"
            type="email"
            placeholder="email.."
            style="width: 100%"
            required
          />
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancel
          </button>
          <button
            type="submit"
            class="btn btn-success"
            data-bs-dismiss="modal"
            (click)="addFriendData(email.value)"
          >
            Add Friend
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Add Group Model-->

<div
  class="modal fade"
  id="addGroupModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #5bc5a7">
        <h5 style="color: white" class="modal-title" id="exampleModalLabel">
          Add Group
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div id="deleteForm">
        <div class="modal-body">
          <ng-multiselect-dropdown
            #multiselect
            [placeholder]="'Add Friends'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
          >
          </ng-multiselect-dropdown>
          <br />
          <input
            #groupname
            id="groupname"
            type="text"
            placeholder="Group Name"
            style="width: 100%; padding: 5px"
            required
          />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="btn btn-success"
              data-bs-dismiss="modal"
              (click)="addGroupData(groupname.value, multiselect.selectedItems)"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
